/*CSS Styles File*/

* {  
  font-family: Arial, sans-serif; 
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3d3d3d88;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #292c35;
} /* #9b59b6 */

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #11111188;
  width: 30px;
  height: 15px;
  border-radius: 18px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #ffffff88;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(21px);
}

form.dark {
  background-color: #3d3d3d;
  color: gray;
}

form {
  background-color: mintcream;
  max-width: 450px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: flex;
  font-weight: bold;
  flex-direction: column-reverse;
}

label>span {
  transition: all .2s;
  transform-origin: top left;
}

label>input[placeholder=" "]:not(:focus):placeholder-shown + span {
  transform: translateY(1em) scale(1.5);
  pointer-events: none;
  opacity: .5
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="date"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.secForm {
  float: left;
  margin: 0 1%;
  width: 20%;
}

.secInfo {
  float: right;
  margin: 0 1%;
  width: 70%;
}

.tableInfo {
  background-color: mintcream;
  margin: 0 auto;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size:  80%;
}

.tableInfo td {
  border: 1px solid #ccc;
  border-radius: 2px;
  word-wrap: break-word;
  white-space: break-spaces;
}

.tableInfo.dark {
  background-color: #3d3d3d;
  color: gray;
}